/* Задание 3 */

#gallery {
    display: flex; 
    padding-inline-start: 0px;
    list-style: none;
}

img {
    height: 250px;
    width: 400px;
    padding-left: 10px;
}

/* Задание 5 */

input[type="text"] {
    margin-top: 15px;
}

/* Задание 6 */

#validation-input {
    border: 3px solid #bdbdbd;
  }
  
  #validation-input.valid {
    border-color: #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }

  /* Задание 7 */

  #font-size-control {
    margin-top: 25px;
    display: block;
  }
